<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:fragment="head">
    <!-- Responsive Web Setting -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">

    <!-- Pill CSS -->
    <link href="/css/pill-common.css" th:href="@{/css/pill-common.css}" rel="stylesheet">
    <link href="/css/pill-common.css" th:href="@{/css/pill-multipage.css}" rel="stylesheet">

    <!-- Common Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
  </th:block>
</head>
<body>
<!-- Logo -->
<th:block th:fragment="logo">
  <a th:href="@{/}" href="/">
    <img src="/images/logo.svg" th:src="@{/images/logo.svg}" alt="Pill Logo">
  </a>
</th:block>

<!-- Profile -->
<th:block th:fragment="profile">
  <!-- Guest -->
  <svg sec:authorize="isAnonymous()" height="46" width="46" data-bs-toggle="tooltip"
       data-bs-placement="left" data-bs-title="Guest">
    <circle cx="23" cy="23" r="22" stroke="white" stroke-width="2" fill-opacity="0"/>
    <text x="17" y="30" fill="white">?</text>
  </svg>

  <!-- User -->
  <a sec:authorize="isAuthenticated()" href="/" th:href="@{/}" data-bs-toggle="tooltip"
     data-bs-placement="left" th:data-bs-title="${userName}+ '\'s Pill Bottle'">
    <img class="p-profile" th:src="${profile}" width="44" height="44" alt="User Profile">
  </a>
</th:block>

<!-- Common Header -->
<div class="p-header" th:fragment="header">
  <th:block th:replace="fragments/common :: logo"></th:block>
  <th:block th:replace="fragments/common :: profile"></th:block>
</div>

<div class="p-header" th:fragment="header-title (title)">
  <h1 th:text="${title}"></h1>
  <th:block th:replace="fragments/common :: profile"></th:block>
</div>

<!-- Multipage Category -->
<th:block th:fragment="category (idPrefix, numOfPages)">
  <div class="pm-category">
    <th:block th:each="i : ${#numbers.sequence(1, numOfPages)}">
      <button class="btn rounded-pill" th:classappend="'button-' + ${idPrefix} + '-' + ${i}">Undefined</button>
    </th:block>
  </div>
</th:block>

<!-- Multi Page -->
<!-- parent must include .p-container class -->
<th:block th:fragment="multipage (source, idPrefix, numOfPages)">
  <!-- Category -->
  <th:block th:replace="fragments/common :: category (${idPrefix}, ${numOfPages})"></th:block>

  <!-- Pages -->
  <th:block th:each="i : ${#numbers.sequence(1, numOfPages)}">
    <!-- Page Content -->
    <div th:id="${idPrefix} + '-' + ${i}" class="pm-page" th:style="'height:' + (100 / ${numOfPages}) + '%;'"
         th:include="${'multipage/' + source} :: ${idPrefix} + '-' + ${i}"></div>
  </th:block>

  <!-- Thymeleaf vars to JS -->
  <input type="hidden" id="numOfPages" th:value="${numOfPages}">
  <input type="hidden" id="idPrefix" th:value="${idPrefix}">

  <!-- Multipage Script -->
  <script type="text/javascript" th:src="@{js/multipage.js}"></script>
</th:block>

<!-- Common Footer -->
<div class="p-footer" th:fragment="footer">
  <p class="mb-0 text-white">&copy; 2022 Jungheon Lee</p>

  <ul class="nav">
    <li class="nav-item">
      <a href="/" th:href="@{/}" class="nav-link px-2 text-white">Q&As</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
      <a href="/logout" th:href="@{/logout}" class="nav-link px-2 text-white">Logout</a>
    </li>
  </ul>
</div>
</body>
</html>