<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Common Head -->
    <th:block th:replace="fragments/common :: head"></th:block>

    <!-- Title -->
    <title>Pill - Create</title>
</head>
<body class="p-container">
<!-- header -->
<div th:replace="fragments/common :: header-title ('Creating a Pill')"></div>

<!-- footer -->
<div th:replace="fragments/common :: footer"></div>
</body>
<!-- Bootstrap Scripts -->
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
</html>